.message{data: {message: {id: message.id}}}
  .message__content
    .message__content__user
      = message.user.name
    .message__content__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__post
    - if message.content.present?
      %p.lower-message
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?