.chat {
  width: calc(100% - 300px);
  background-color: $white;
  position: relative;
  &__title {
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    .chats {
      margin: 0 0 0 40px;
      padding: 35px 0 0 0;
      float: left;
      &__name {
        color: $dark_gray;
        font-size: 20px;
        padding: 0 0 15px 0;
      }
      &__member {
        color: $light_gray;
        font-size: 12px;
      }
    }
    &__edit-button {
      width: 72px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin: 28px 40px 0 0;
      float: right;
      border: solid 1px $light_blue;
      box-sizing: border-box;
      a {
        color: $light_blue;
        text-decoration: none;
      }
    }
  }

  .messages {
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
    &__post {
      margin-left: 40px;
      padding-top: 46px;
      display: flex;
      &__user {
        color: $dark_gray;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 12px;
      }
      &__date {
        color: $light_gray;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    &__content {
      color: #434A54;
      font-size: 14px;
      margin-left: 40px;
      &__lower-message {
        color: #434A54;
        font-size: 14px;
        margin-left: 40px;
      }
    }
  }

  .form {
    height: 90px;
    width: 100%;
    padding: 20px 50px 20px 40px;
    background-color: #DDDDDD;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    &__message {
      width: calc(100% - 150px);
      height: 50px;
      float: left;
      border: none;
    }
    &__mask {
      height: 50px;
      float: left;
      position: relative;
      &__image {
        line-height: 50px;
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
      }
      .icon {
        padding: 0 2px;
        font-size: 20px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      color: white;
      font-size: 16px;
      height: 50px;
      padding: 0 30px;
      background-color: $light_blue;
      float: right;
      cursor: pointer;
    }
  }
}